.body{
    margin: 0px;
    font-family: Century Gothic,sans-serif;

}

@keyframes enter-right {
    0% {
        transform: translateX(1200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes enter-left {
    0% {
        transform: translateX(-1200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes enter-title {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes float-down {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

    .nav-container{
        /*margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        transform: translateY(0px);
        top: 0;
        left: 0;*/
        width: 100%;
        position: fixed;
        z-index: 2;
        background-color: transparent;
    }
    .nav-bar{
            height: 80px;
            padding-right: 24px;
            padding-left: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        
    }
    
    .logoC{
        height: 80px;
    }

    .nav-bar-left{
            height: inherit;
            display: flex;
            align-items: center;
    }

    .nav-bar-Title{
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .02em;
        justify-content: flex-start;
        color: white;
    }

    .nav-bar-links{
        display: flex;
        height: inherit;
        max-width: 100%;
        padding: 0;
        justify-content: flex-end;
    }

    .v-btn{
        height: inherit;
        margin: 0;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        display:flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    .v-btn-content{
        font-size: 14px;
    }

    .incoret-section {
        width: 100%;
        height: 700px
    }

    @media only screen and (min-width: 1040px) {
        .incoret-section {
            height:800px
        }
    }
    
    @media only screen and (min-width: 1240px) {
        .incoret-section {
            height:1000px
        }
    }

    .welcome{
        /*height: 800px;
        width: 100%;*/
        padding: 0px;
        margin: 0px;
        background: url(MediaIncoret/fondo1.png);
        background-size: cover; /**/
        background-position-y: -5px; /**/
        position: relative; /**/
        background-color: #fff;
        background-repeat: no-repeat;
    }

    @media only screen and (max-width: 600px) {
        .welcome{
            background-position-x:0
        }
    }
    
    @media only screen and (min-width: 1240px) {
        .welcome{
            background-position-y:-20px
        }
    }
    
    @media only screen and (min-width: 1500px) {
        .welcome{
            background-position-y:-230px
        }
    }
    
    @media only screen and (min-width: 2000px) {
        .welcome{
            background-position-y:-560px
        }
    }

    .welcome-incoret-container{
        height: 100%;
        width: 100%;
        padding: 24px;
        box-sizing: border-box;
        max-width: 100%;
        margin: auto;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .welcome-incoret-container-inside{
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-repeat: no-repeat;
        padding: 0px;
        margin: 0px;
        box-sizing: inherit;
    }
    .welcome-incoret-container-inside-text{
        padding: 0px;
        margin: 0px;
        box-sizing: inherit;
        display: block;
        max-width: 100%;
        width: 100%;
        line-height: 1.5;
    }

    .welcome-incoret-container-inside-text-line1{
        padding: 0px;
        margin: 0px;
        box-sizing: inherit;
        max-width: 100%;
        margin-left: 16.6666%;
        display: block;
        border-width: 1px;
        animation-name: enter-right;
        animation-duration: 1s;
        animation-iteration-count: 1;

    }

    .welcome-incoret-container-inside-text-incoret{
        font-size: 55px;
        color: #fff;
        height: 100px;
        font-weight: 700;
        margin-left: 16.6666%;
        margin-top: 16px!important;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        animation-name: enter-title;
        animation-duration: 3s;
        animation-iteration-count: 1;

    }

    @media only screen and (max-width: 320px) {
        .welcome-incoret-container-inside-text-incoret{
            margin-top:0!important
        }
    }

    .welcome-incoret-container-inside-text-line2{
        padding: 0px;
        margin: 0px;
        box-sizing: inherit;
        max-width: 100%;
        margin-right: 55%;
        display: block;
        border-width: 1px;
        animation-name: enter-left;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .welcome-incoret-container-inside-text-des{
        padding: 0px;
        margin: 0px;
        font-size: 25px;
        color: #fff;
        height: 200px;
        font-weight: 100;
        margin-left: 16.6666%;
        margin-top: 16px!important;
        background-repeat: no-repeat;
        
    }

    @media only screen and (max-width: 600px) {
        .welcome-incoret-container-inside-text-des{
            margin-left: 0px!important;
        }
    }

    .welcome-squares{
        position: absolute;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        height: 300px;
        animation-name: float-down;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }

    .team{
        background: url(MediaIncoret/fondo2.png);
        background-size: cover;
        position: relative;
        /*height: 800px;
        width: 100%;*/
        padding: 0;
        margin: 0;
        /*display: block;*/
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0px;
    }

    .team-incoret-section-container{
        height: 100%;
        max-width: 100%;
        padding-top: 24px!important;
        background-repeat: no-repeat;
    }

    .team-squares{
        position: absolute;
        left: 0;
        bottom: -18%;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        height: 380px;    
        animation-name: float-down;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .team-incoret-section-container-inside{
        height: 100%;
        padding-top: 24px!important;
        margin-top: 24px!important;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .team-incoret-section-container-inside-in{
        
        margin-right: 48px!important;
        margin-top: 24px!important;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        display: block;
        box-sizing: inherit;
    }

    @media (min-width: 600px){
        .team-incoret-section-container-inside-in{
            margin-left: 25%!important;
            max-width: 75%;
        }
    }


    .team-incoret-section-container-inside-in-us{
        font-size: 31px;
        font-weight: 400;
        letter-spacing: 4px;
        text-align: center!important;
        padding-top: 16px!important;
        padding-bottom: 16px!important;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        display: block;
        color: white;
        opacity: 0;
        /*animation-name: enter-title;
        animation-duration: 3s;
        animation-iteration-count: 1;*/
    }

    .team-incoret-container-inside-in-line{
        padding: 0;
        margin: 0;
        box-sizing: inherit;
        max-width: 100%;
        display: block;
        border-width: 1px;
        /*transform: translateX(1200px);
        animation-name: enter-right;
        animation-duration: 1s;
        animation-iteration-count: 1;*/

    }

    .team-incoret-section-container-inside-in-us-des{
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        padding-left: 48px!important;
        padding-top: 16px!important;
        margin-top: 16px!important;
        display: block;
        color: white;
        line-height: 1.5;
    }

    .team-incoret-section-container-inside-in-us-des-p1{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        color: white;
        text-align: right;
        margin-bottom: 16px;
        margin-top: 0px;
    }

    @media only screen and (max-width: 600px){
        .team-incoret-section-container-inside-in-us-des-p1{
            text-align: left!important;
        }
    }


    @media only screen and (max-width: 766px) {
        .team-squares {
            display:none
        }
    
        .team{
            background-position-y: 40px;
        }
    
        .team-incoret-section-container,.team-title{
            padding-top: 0!important;
        }
    
        .team-incoret-section-container-inside-in-us-des{
            padding-left: 20px!important;
            padding-top: 0!important;
        }
    }
    
    @media only screen and (max-width: 425px) {
        .team{
            background-position-y:40px
        }
    
        .team-incoret-section-container-inside-in-us-des{
            font-size: 20px
        }
    }
    
    @media only screen and (max-width: 375px) {
        .team-incoret-section-container,.team-incoret-section-container-inside-in-us{
            padding-top:0!important
        }
    
        .team-incoret-section-container-inside-in-us-des{
            font-size: 19px
        }
    }
    
    @media only screen and (max-width: 325px) {
        .team-incoret-section-container-inside-in-us-des{
            padding-left:20px!important;
            padding-top: 0!important
        }
    
        .team-incoret-section-container-inside-in{
            margin-right: 10px!important
        }
    }
    
    @media only screen and (min-width: 1240px) {
        .team{
            background-position-y:60%
        }
    }
    
    @media only screen and (min-width: 1500px) {
        .team{
            background-position-y:70%
        }
    }
    
    @media only screen and (min-width: 2000px) {
        .team{
            background-position-y:95%
        }
    }

    /* Disapearing elements*/
    @media only screen and (max-width: 959px) {
        .hidden-sm-and-down {
            display:none!important;
        }
    }

    @media only screen and (min-width: 960px) {
        .hidden-sm-and-up {
            display:none!important;
        }
    }

    .container {
        margin: auto;
        width: 100%
    }
    
    .hamb{
        margin-left: -6px;
        margin-top: 6px;
        margin-right: 6px;
        margin-bottom: 6px;
        padding: 0;
        border-radius: 50%;
        min-width: 0;
        width: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        user-select: none;
        cursor: pointer;
        overflow: visible;
        box-shadow: none!important;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
    }

    .divhamb{
        width: inherit;
    }

    
    